1) Review. Does this code run without error? If so, what does it produce? If not, explain why.

In [8]:
x = [1, 2, 3] 
y = 'bootcamp' 
z = x + y

#This code doesn't run because z is not defined as a list before hand.

TypeError: can only concatenate list (not "str") to list

2) For the same x and y as the previous question: What function tells us what type they are? What function tells us how many elements they contain?

In [15]:
print(type(x))
print(type(y)) #x is a list, y is a string. 
print(len(x))
print(len(y)) #using the len function will tell us how many elements they contain

<class 'list'>
<class 'str'>
3
8

3) What type is each expression? How can you tell?

In [17]:
type(2)

int

In [18]:
type('2')

str

In [19]:
type(2.0)

float

In [20]:
type("2.0")

str

In [21]:
type(2>1)

bool

In [22]:
type("Itamar">"Chase") # this a bool as each character has an assigned value, such that here I > C in value

bool

In [23]:
type([1,2])

list

In [24]:
type((1,2))

tuple

In [26]:
type({1: 'one', 2: 'two'})

dict

In [27]:
# We can use the type function to figure out what each value is

4) What value does each of these comparisons have

In [28]:
1>=0

True

In [29]:
1 >=1

True

In [30]:
1 > 1

False

In [31]:
1 == 1

True

In [32]:
1 == 1.0

True

In [33]:
'Spencer' == "Spencer"

True

In [34]:
2**3 > 3 **2

False

In [35]:
if 1>=0 or 1 <=2:
    print(True)

True

In [36]:
if 1>=0 and 1 <=2:
    print(True)

True

5) Does this code run without error? If so, what does it produce? If not, how would you ﬁx it?

In [37]:
if 2>1 
    print(’Yes, 2 is still greater than 1’)

SyntaxError: invalid syntax (<ipython-input-37-929372c4520c>, line 1)

In [38]:
#We are missing the colon after 2>1. It should be if 2>1:

6) What is the result of running this code? Why?

In [40]:
if True:
    print('on the one hand') 
else: print('but on the other hand')

on the one hand

In [41]:
if False:
    print('on the one hand') 
else: print('but on the other hand')

but on the other hand

In [42]:
if not True:
    print('on the one hand') 
else: print('but on the other hand')

but on the other hand

7) What is the result of running this code?

In [46]:
cond = True 
if cond:
    x = "Chase"
else: 
    x="Dave"
print(x)

Chase

8) Suppose we have two lists, x = [1, 2, 3, 4] and y = [’x’, ’y’, ’z’]. Adapt the code below to determine which has more elements:

In [49]:
x = [1,2,3,4]
y = ['x','y','z']

In [50]:
if len(x)>len(y):
    print("x has more")
else: 
    print("y has more")

x has more

9) Explain in words what slicing does.

Slicing allows you to take certain parts out from a list, extracting certain parts of data that is needed.

10) How would you extract (“slice”) the ﬁrst element (the integer 1) from the list x below? The last element? All but the last element?

In [52]:
x = [1,2,3,4,5]

In [54]:
x[0] #first element

1

In [55]:
x[4] #last element

5

In [60]:
x[0:-1] #prints out everything but last

[1, 2, 3, 4]

11) Use slicing to extract each word from

In [61]:
sentence = "This is a sentence; please slice it."

In [62]:
sentence = 'This is a sentence; please slice it.'

print(sentence[0:4])
print(sentence[5:7])
print(sentence[8:9])
print(sentence[10:18])
print(sentence[20:26])
print(sentence[27:32])
print(sentence[33:35])

This
is
a
sentence
please
slice
it

12) Consider the list x = [1, 2, "a", ’b’, "fast", ’slow’, 3, "Raghu", ’Liuren’, 10]

a) How would you splice the first item? the last item?
b) How would you splice out b-3 inclusive?

In [65]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

In [68]:
print(x[1:]) #removes first item
print(x[:-1]) #removes last item

[2, 'a', 'b', 'fast', 'slow', 3, 'Raghu', 'Liuren', 10]
[1, 2, 'a', 'b', 'fast', 'slow', 3, 'Raghu', 'Liuren']

In [70]:
print(x[3:6])

['b', 'fast', 'slow']

13) Using the same list x, write a loop that prints every element on a new line.

In [72]:
for item in x:
    print(item)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

14) Challenging. Using the same list x, write a loop that prints every element of type str.

In [76]:
for item in x:
    if type(item) == str:
        print(item)

a
b
fast
slow
Raghu
Liuren

15) Use the help function in Jupyter to ﬁnd out what the range function does. How would you describe range(3,12,2)? Verify by converting to a list with list(range(3,12,2)).

In [82]:
range?

In [79]:
type(range(3,12,2))

range

In [80]:
type(list(range(3,12,2)))

list

In [81]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

In [83]:
# the range function essentially creates values based on your requirements it goes (start,end,increment)
#if we start at 3 and we're going till 12, we'll end up at 11 w/ 3,5,7,9,11. Putting a list in front of it 
#allows you to store the values in a list.

16) Challenging. Write a loop that sums the integers from zero to thirty that are multiples of three: 3, 6, etc

In [111]:
multiples = list(range(3,31,3))
print(multiples)

sum = 0 
for item in multiples:
    sum = sum + item
    print(sum) #Final number is the total summation

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
3
9
18
30
45
63
84
108
135
165

17) Deﬁne a function pocket_change() that takes four integers as inputs (numbers of pennies, nickels, dimes, and quarters in your pocket) and returns a ﬂoating point number (their dollar value). Run your program with the input (1, 2, 3, 4).

In [134]:
def pocket_change(pennies,nickels,dimes,quarters):
    sum = (pennies*0.01)+(nickels*0.05)+(dimes*0.1)+(quarters*0.25)
    print("$ "+format(sum,".2f"))

In [135]:
pocket_change(1,2,3,4)

$ 1.41

18) Challenging. Write a function notsix() that takes a list of integers and returns a (shorter) list of only those that do not begin with a 6. Test it on the list [1234, 6783, 6, 4321, 9876].

In [156]:
def notsix(input):
    final = []
    for item in input:
        if str(item)[0] != "6":
            final.append(item)
    print(final)
        
    
notsix([1234,6783,6,4321,9876])

[1234, 4321, 9876]

19) Challenging: Explain what this code does

In [138]:
old_list = [1234, 6783, 6, 4321, 9876] 
new_list = [x for x in old_list if str(x)[0] != "6"]
print(new_list)

[1234, 4321, 9876]

In [157]:
# Basically does the same thing we did in the last peice of code. Checks if the first digit is a 6

20) Consider the Python object
z = {1: ’one’, 2: ’two’, 3: ’three’}
a. What kind of object is z? What is its length? 
b. Which components are keys? Which are values? 
c. How would I get the value associated with the key 2?
d. Use Jupyter’s help facilities to ﬁgure out what z.keys() does. Ditto z.values(). Try them to verify. 
e. What does list(z.keys()) do? 
f. What does list(z.values()) do?

In [158]:
z = {1: "one", 2: "two",3: "three"}

In [161]:
print(type(z))
print(len(z)) #Z is a dictionary with 3 elements in it is.  #A

<class 'dict'>
3

In [162]:
z.keys() #these are the keys  #B

dict_keys([1, 2, 3])

In [163]:
z.values() #these are the values  #B

dict_values(['one', 'two', 'three'])

In [165]:
z[3] #type the key to get the value  #C

'three'

In [167]:
z.keys? 
#Z.Keys tells us what the keys of the dictionary are

In [168]:
z.values?
#z.values tells us the values ascribed to each key

In [171]:
list(z.keys()) #Puts the keys into a list

[1, 2, 3]

In [174]:
list(z.values()) #puts the values into a list

['one', 'two', 'three']