1) Describe and explain each of these expression produces in Python:

In [1]:
2+5 #Addition

7

In [2]:
2 + 5  #Addition

7

In [3]:
2*5 #Multiplication

10

In [4]:
2/5 #Division

0.4

In [5]:
2**5 #same as 2^5

32

2) What is the value of after running these statements in order? Why?

In [6]:
x=7
x = 7 + 3

In [7]:
print(x) #This prints out 10 because we reassigned the value by redeclaring x in the second line

10

3) What is the value of y after running these statements in order? Of x? Why?

In [8]:
x = 3 
y = x
x = 10

In [10]:
print("x is",x)
print ("y is",y)

x is 10
y is 3

Y is 3 because we set it equal to the first value of x, prior to when we reassigned it. However, the value of y will not change after we reassign x because that operation has been done already.

4) Does this code run without error?If so, what does it produce?If not, explain why.

In [11]:
x = 3 
x = x/2 
y = 'abc'
z = y + y 
print(x,z)

1.5 abcabc

This will not produce an error. Python doesn't care about what you print- you can print an integer and a string together. The earlier operations are also allowed (i.e adding two strings together) due to the same logic.

5) Does this code run without error? If so, what does it produce? If not, explain why.

In [12]:
x = 3
x = x/2
y = 'abc'
z = x + y 
print(x,z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

This has an error because you are adding a string and an integer together

6) Does this code run without error? If so, what does it produce? If not, explain why.

In [13]:
x = 3
y = 24 
z = y/x 
print(x,y,z, sep =' | ')

3 | 24 | 8.0

This code does not produce an error as it is simply doing and printing out arithmetic operations. The sep function creates a seperation between the prints to make the answer look more neat

7) Does this code run without error? If so, what does it produce? If not, explain why.

In [14]:
x = 3 
y = '24'
z = y/x 
print(x,z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

This produces an error because we have attempted to divide a string by an integer.

8) Does this code run an error? If so, what does it produce? If not, explain why.

In [15]:
x = "I am a #string" #Whoa, a string!

In [16]:
print(x)

I am a #string

This code spits out "I am a #string". Anything after that is a comment as we ended the paranthesis and started a common with the #

9) Does this code run without error? If so, what does it produce? If not, explain why.

In [17]:
x = [1,2,3]
y = [42,43]
z = x + y

In [18]:
print(z)

[1, 2, 3, 42, 43]

There are no errors, all this function does is add the two lists together to create a bigger list

10) Does this code run without error? If so, what does it produce? If not, explain why.

In [19]:
x = [1,2,3]
y = 42
z = x + y

TypeError: can only concatenate list (not "int") to list

You cannot add a list and an integer together

11) What types are:

In [20]:
x1 = 12 # integer
x2 = 12.0  #float 
x3 = '12.0' #string 
x4 = [12] #list 
x5 = [12,12.0,'12.0'] #list

In [21]:
whos

Variable   Type     Data/Info
-----------------------------
x          list     n=3
x1         int      12
x2         float    12.0
x3         str      12.0
x4         list     n=1
x5         list     n=3
y          int      42
z          list     n=5

12) Explain the result of each line:

In [45]:
type(42) #Result will be integer

int

In [46]:
type(42.0) #Result will be float

float

In [47]:
type('42.0') #Result will be string

str

In [49]:
type("42.0") #Result will be string

str

In [50]:
type('''42.0''') #Result will be string

str

In [51]:
type([1,2]) #Result will be list

list

In [52]:
type([1]+[2]) #Result will be list

list

In [53]:
type(1+2) #Result will be list

int

In [54]:
type(print) #result will indicate that print is a function

builtin_function_or_method

13) Describe and explain the result of this statement:

In [24]:
type(float(str(int('1234'))))

float

As the last function of this nested statement is a float, the string 1234 converts to a float. As a result, the type function will identify it as a float

14) Describe and explain the result of this statement:

In [35]:
type(int(float('12.34')))

int

As the last function of the nested statement is an integer, it recognizes the string as an integer.

15) Explain each line:

In [38]:
len([1234])

1

In [39]:
len("1234")

4

In [41]:
len(1234)

TypeError: object of type 'int' has no len()

The first result it identifies as a list with only one item in it, hence only one object. Second one it recognizes it as a string with the four characters it. Last one spits out as an error as the integer doesn't have a length it can neccesarily reocognize

16) What are the type and length of x = []

In [42]:
x=[]

In [43]:
len(x)

0

In [44]:
type(x)

list

x is a list with a length of 0 (no items in it)

17) Convert string x = 'abcde' to a list, what does it look like?

In [59]:
x = list('abcde')

In [60]:
print(x)

['a', 'b', 'c', 'd', 'e']

18) Consider the integer x = 1234. Convert x to: a) floating number point b) to a string c) to the list

In [61]:
x = 1234

In [62]:
x = float(x) #converted from integer to float

In [63]:
print(x)

1234.0

In [68]:
x = 1234
x = str(x) #converts to a string

In [69]:
print(x)

1234

In [67]:
type(x) #double check that we printed out a string

str

In [70]:
x = list(x)

In [71]:
print(x) #converts to a list

['1', '2', '3', '4']

19) *Challenging* How would you convert x to "title case"?

In [72]:
x = "luke, i am your father"

In [74]:
x.title()

'Luke, I Am Your Father'

20) Consider the string x = "How many characters and words are in this string": a) How many characters does x contain? b) Convert x to a list of individual characters c) Convert x to a list of individual words.  d) How many words does x contain?

In [75]:
x = "How many characters and words are in this string "

In [77]:
len(x) #Number of characters

49

In [80]:
x = list(x) #Converting to a list

In [79]:
print(x)

['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'a', 'n', 'd', ' ', 'w', 'o', 'r', 'd', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ']

In [97]:
x = "How many characters and words are in this string"

In [99]:
x.split() #Converts x to individual words

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string']

In [101]:
len(x.split()) #Will count the number of words in the sentence based on how many peices it splits into.

9